*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
.fake
.ionide
*/xerotoken.json

*/tenantid.json
*/state.json
*/localappsettings.json

# Once pulled, during development alternate below appsettings.json part 
**/**/appsettings.json

/XeroNetSSUApp/XeroNetSSUApp-main/XeroNetSSUApp/obj/Debug
/XeroNetSSUApp/XeroNetSSUApp-main/XeroNetSSUApp/bin
/XeroNetSSUOpenIdPluginApp/XeroNetSSUOpenIdPluginApp/XeroNetSSUOpenIdPluginApp/appsettings.json
/XeroNetSSUOpenIdPluginApp/XeroNetSSUOpenIdPluginApp/XeroNetSSUOpenIdPluginApp/appsettings.Development.json
/XeroNetSSUApp/XeroNetSSUApp-main/XeroNetSSUApp/appsettings.Development.json
/XeroNetSSUApp/XeroNetSSUApp-main/XeroNetSSUApp/appsettings.json